body{
    margin: 0 auto;
    padding: 2.5em;
}

.header{
    background-color:  #f9ebea;
    padding: 3em;
}

.bg-4 {
    background-color: #d5dbdb;
    color: #000000;
}

.navbar{
    background-color: #d5dbdb;
}